<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Alta de curso</h3>
    </div>
    <form role="form" action="/course/add" method="POST">
        <input type="hidden" name="id" value=""/>
        <div class="box-body">
            <div class="form-group">
                <label for="name">Curso</label>
                <input type="text" class="form-control" id="name" name="name" value="" placeholder="Curso académico">
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-flat">Enviar</button>
        </div>
    </form>
</div>