<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Cursos</h3> 
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th></th>
                    <th>Año académico</th>
                    <th style="text-align:center;">Matriculaciones</th>
                    <th style="width: 100px"></th>
                </tr>
                {% for course in courses %}
                <tr>
                    <td><i class="fa  fa-ellipsis-v"></i></td>
                    <td>{{ course.getName() }}</td>
                    <td align="center">1</td>
                    <td align="right">
                        <a href="{{ path('course_edit', {id: course.getId() }) }}" title="Editar" class="btn-edit btn btn-danger btn-xs" role="11"> 
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('course_delete', {id: course.getId() }) }}" title="Borrar" class="btn-delete btn btn-primary btn-xs" role="11"> 
                            <i class="fa fa-trash"></i> 
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a type="submit" class="pull-right btn btn-primary btn-flat" href="{{ path('course_list') }}">Nuevo</a>
    </div>
</div>