{% extends 'dashboardbase.html.twig' %}

{% block main_content %}

<div class="box">
    <!-- /.box-header -->
    <div class="box-body">

        {{ form(form) }}

    </div>
    <!-- /.box-body -->
  </div>
{% endblock %}