.top-50 { padding-top: 50px; }
.mtop-20 { margin-top: 20px; }
.pl-0 { padding-left: 0px !important; }

/* LOGIN */
.login-container{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #928e8e 0%, #bbbbbb 100%);
}
.login-box-body{
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

/* FORMS */
/* ERROR */
.error {
    border-color: red !important;
}

/* LISTS */
.fa-toggle-on{ color:green !important }
.fa-toggle-off{ color: red }
.toggle-active{ cursor:pointer; cursor:hand }

/* SIDEBAR */
.item-active{
    color: #200c48 !important;
    font-weight: bolder;
    font-style: italic;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 200px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    font-size: 14px;
}

/* STUDENT COURSE */
.input-sm {
    height:30px;
}
.table tr td .progress {
    margin-top: 9px;
}


/* custom tag input css */
.bootstrap-tagsinput {
    display: block !important;
    border: 1px solid #d2d6de !important;
    border-radius: 0px;
    height: 34px;
    padding: 4px 8px;
    box-shadow: none;
}
.bootstrap-tagsinput .tag { 
    font-size: 85%;
}

/* FORM CHECKBOX */
div.form-group>div.checkbox>label {
    padding-left: 0px;
}
div.form-group>div.checkbox>label>div.icheckbox_square-blue {
    margin-right: 10px;
}