index:
  path: /
  controller: App\Controller\StudentController::list

student_list:
  path: /student
  controller: App\Controller\StudentController::list

student_add:
  path: /student/add
  controller: App\Controller\StudentController::add

student_edit:
  path: /student/edit/{id}
  controller: App\Controller\StudentController::edit
  requirements:
    id: '\d+'

student_delete:
  path: /student/delete/{id}
  controller: App\Controller\StudentController::delete
  requirements:
    id: '\d+'

course_list:
  path: /course/list
  controller: App\Controller\CourseController::list

course_edit:
  path: /course/edit/{id}
  controller: App\Controller\CourseController::edit
  requirements:
    id: '\d+'

course_delete:
  path: /course/delete/{id}
  controller: App\Controller\CourseController::delete
  requirements:
    id: '\d+'

subject_list:
  path: /subject/list
  controller: App\Controller\SubjectController::list

subject_add:
  path: /subject
  controller: App\Controller\SubjectController::add

subject_edit:
  path: /subject/edit/{id}
  controller: App\Controller\SubjectController::edit
  requirements:
    id: '\d+'

subject_delete:
  path: /subject/delete/{id}
  controller: App\Controller\SubjectController::delete
  requirements:
    id: '\d+'

subject_ajax_change_status:
  path: /subject/ajax/change_status/{id}
  controller: App\Controller\SubjectController::ajaxChangeStatus
  requirements:
    id: '\d+'