<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
        
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ asset('/assets/vendor/admin-lte/dist/img/avatar5.png') }}" class="img-circle" alt="Usuario">
        </div>
        <div class="pull-left info">
            <p>Admin User</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENÚ</li>
        
        <li class="treeview {% if menu_module == "student" %}active{% endif %}">
            <a href="#">
            <i class="fa fa-users"></i> <span> Estudiantes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="{{ path('student_add') }}" {% if menu_module == "student" and menu_controller == "add" %}class="item-active"{% endif %}><i class="fa fa-circle-o"></i> Añadir</a></li>
            <li><a href="{{ path('student_list') }}" {% if menu_module == "student" and menu_controller == "list" %}class="item-active"{% endif %}><i class="fa fa-circle-o"></i> Listado</a></li>
            </ul>
        </li>
        <li class="treeview {if $__module=="subject"}active{/if}">
            <a href="#">
            <i class="fa fa-book"></i> <span>Asignaturas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Añadir</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Listado</a></li>
            </ul>
        </li>
        <li class="treeview {% if menu_module == "course" %}active{% endif %}">
            <a href="#">
            <i class="fa fa-calendar"></i> <span>Cursos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('course_list') }}" {% if menu_module == "course" and menu_controller == "list" %}class="item-active"{% endif %}><i class="fa fa-circle-o"></i> Añadir/Listado</a></li>
            </ul>
        </li>
        
    </section>
    <!-- /.sidebar -->
</aside>

<!-- =============================================== -->