<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Uni</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Symfony</b>University</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ asset('/assets/vendor/admin-lte/dist/img/avatar5.png') }}" class="user-image" alt="User Image">
              <span class="hidden-xs">Admin User</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{ asset('/assets/vendor/admin-lte/dist/img/avatar5.png') }}" class="img-circle" alt="User Image">

                <p>
                  Juan Luis Ramírez Tutor - FullStack PHP Developer
                  <small>Programming since 1997</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="https://twitter.com/SpeedRT" target="_blank">Twitter</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="mailto:juanluis.ramirez.tutor@gmail.com">Gmail</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="https://www.linkedin.com/in/juan-luis-ramirez-tutor/" target="_blank">LinkedIn</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>