<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ page_title }}
        <small>{{ page_subtitle }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">{{ page_title }}</a></li>
        <li class="active">{{ page_subtitle }}</li>
      </ol>
    </section>